<h1>Evalue ton humeur de la journée</h1>
<div class="range-slider" data-controller="range-slider" data-range-slider-mood-value="<%= diary_mood_path(@diary,@diary.mood_principal) %>">
  <label for="customRange"></label>
  <input type="range"
        name="moodScore"
        class="range-slider__range"
        data-range-slider-target="range"
        data-action="input->range-slider#updateValue"
        value="0"
        min="-5"
        max="5"
        step="1">
  <output class="range-slider__value"
          data-range-slider-target="value">0
  </output>
  <%= simple_form_for [@diary, @diary.mood_principal], method: :patch, data: { 'range-slider-target' => 'form'}  do |f| %>
    <%= f.input :rating, as: :hidden, input_html: { data: { 'range-slider-target' => 'input' } }%>
  <% end %>
</div>
<% @diary.moods.not_principal.each do |mood| %>
  <h2><%= mood.title %></h2>
  <div class="range-slider" data-controller="range-slider" data-range-slider-mood-value="<%= diary_mood_path(@diary, mood) %>">
    <label for="customRange"></label>
    <input type="range"
          name="moodScore"
          class="range-slider__range"
          data-range-slider-target="range"
          data-action="input->range-slider#updateValue"
          value="0"
          min="-5"
          max="5"
          step="1">
    <output class="range-slider__value"
            data-range-slider-target="value">0
            </output>
    <%= simple_form_for [@diary, mood], method: :patch, data: { 'range-slider-target' => 'form'}  do |f| %>
      <%= f.input :rating, as: :hidden, input_html: { data: { 'range-slider-target' => 'input' } }%>
    <% end %>

  </div>
<% end %>






<h2>Ecris un commentaire en rapport avec ton humeur</h2>
