<%= month_calendar(attribute: :date, events: @diaries, partial: "simple_calendar/calendar") do |date, diaries| %>
  <div class="calendar-day <%= 'selected-day' if date == params[:date]&.to_date %>">
    <%= link_to calendar_path(date: date), class:"text-reset" do %>
      <%= date.day %>
    <% end %>
  </div>
<% end %>

<div class="card-daily-infos">
  <div class="daily-infos">
    <% if @diary %>
      <div class="opacity-50">
        <%= @diary.date.strftime("%d/%m") %>
      </div>
      <p class="mt-2"><%= @diary.gratitude %></p>
    <% end %>
  </div>
</div>
