<%= month_calendar(attribute: :date, events: @diaries, partial: "simple_calendar/calendar") do |date, diaries| %>
  <div class="calendar-day <%= 'selected-day' if date == params[:date]&.to_date %>">
    <%= link_to calendar_path(date: date), class:"text-reset" do %>
      <%= date.day %>
    <% end %>
  </div>
<% end %>

<div class="card-daily-infos">
  <div class="daily-infos">
    <% if @diary %>
      <div class="daily-infos-gratitude">
        <div class="opacity-50 d-flex align-content-left">
          <%= @diary.date.strftime("%d/%m") %>
          <p>&nbsp- Mes gratitudes</p>
        </div>
        <p class="mt-2"><%= @diary.gratitude %></p>
      </div>
      <%# <p>
        <button class="mood-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <%= image_tag "plus_button.svg", alt: "button", size: "60x60", class: "svg-green p-3" %>
        <%# </button>
        </p> %>
      <div class="daily-infos-mood mb-0 mt-4">
        <p class="opacity-50 text-left">Mon humeur</p>
        <%# <div class = "chevrons chevrons-mood" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa-solid fa-chevron-up fa-2xl"></i>
          <i class="fa-solid fa-chevron-down fa-2xl"></i>
        </div> %>
        <%# <div class="collapse" id="collapseExample"> %>
          <div class="mt-2">
            <%= @diary.mood_principal.content %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
