<div class="sign-out">
  <%= link_to "", destroy_user_session_path, class: "nav-link fa-solid fa-right-from-bracket sign-out-btn", data: { turbo_method: :delete, turbo_confirm: "Voulez-vous vous déconnecter ?" } %>
</div>

<h1 class="categories-edit-title">Mon suivi personnalisé</h1>

<%# itérer sur toutes les catégories
le toggle sera sur true ou false en fonction de si c'est une catégorie du user%>
<div class="categories-container" data-controller="user-categories">
  <div class="categories chosen-categories">
    <h3>Votre sélection</h3>

    <div data-controller="sortable" data-user-categories-target="chosen" data-sortable-animation-value="150" data-sortable-resource-name-value="user_category">
          <div data-url="<%= user_category_url(current_user.user_categories.find_by(category: Category.principal)) %>"
          class="d-none"
          >
      <%= Category.principal.title %>
    </div>
      <%= render "categories", categories: @chosen_categories %>
    </div>
  </div>

  <div class="categories other-categories" data-user-categories-target="other">
    <h3>Catégories disponibles</h3>
    <%= render "categories", categories: @other_categories %>
  </div>
</div>
